@using it.lucaporfiri.appweb.core.web.ViewModels
@model BachecaEventiEventoViewModel

<div class="task-card @Model.PrioritaCssClass @(Model.IsUrgente ? "is-urgent" : "") @(Model.IsCompletato ? "is-completed" : "")" id="evento_@Model.Id" data-evento-id="@Model.Id" data-posizione="@Model.Posizione">
	<div class="task-header">
		<i class="fas fa-@Model.IconaTipoTask" aria-hidden="true"></i>
        <span class="icon material-symbols-outlined"></span>
        @Model.Titolo
    </div>
    <div class="task-body">@Model.Descrizione</div>
    <div class="task-footer">
        <span class="due-date">
            <span class="fas-fa-hourglass"></span>
            @Model.DataScadenzaLabel
        </span>
        <span class="">
			<span class="fas-fa-flag"></span>
            @Model.PrioritaScore
        </span>
    </div>
</div>