@using it.lucaporfiri.appweb.core.web.ViewModels
@model BachecaEventiEventoViewModel

<div class="task-card @Model.PrioritaCssClass @(Model.IsUrgente ? "is-urgent" : "") @(Model.IsCompletato ? "is-completed" : "")">
    <div class="task-header">
        <span class="icon material-symbols-outlined">@Model.IconaTipoTask</span>
        @Model.Titolo
    </div>
    <div class="task-body">@Model.Descrizione</div>
    <div class="task-footer">
        <span class="due-date">
            <span class="icon material-symbols-outlined">hourglass_top</span>
            Data: @Model.DataScadenzaLabel
        </span>
    </div>
</div>