@model it.lucaporfiri.appweb.core.web.Models.Abbonamento


<div class="dashboard-container">
    <header class="page-header-details">
        <div class="header-content">
            <a asp-action="Details" asp-controller="Abbonamento" asp-route-id="@Model.Id" class="btn-back" title="Torna all'abbonamento">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="header-title">
                <h1>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Elimina Abbonamento
                </h1>
                <p class="subtitle">@Model.Nome</p>
            </div>
        </div>
    </header>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atleta.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
