@using static it.lucaporfiri.appweb.core.web.ViewModels.AtletaDetailViewModel
@model IEnumerable<it.lucaporfiri.appweb.core.web.ViewModels.AbbonamentoDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Abbonamenti</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data Inizio
            </th>
            <th>
                Data Fine
            </th>
            <th>
                Atleta
            </th>
            <th>
                Stato Abbonamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.abbonamento.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abbonamento.DataFine)
            </td>
            <td>
                @($"{item.abbonamento.Atleta?.Nome} {item.abbonamento.Atleta?.Cognome}")
            </td>
            <td>
                @if (item.statoAbbonamento == StatoAbbonamento.Scaduto)
                {
                    <span class="c-error">@item.statoAbbonamento</span>
                }
                    else if (item.statoAbbonamento == StatoAbbonamento.Valido)
                {
                    <span class="c-success">@item.statoAbbonamento</span>
                }
                else
                {
                    <span class="c-warning">@item.statoAbbonamento</span>
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.abbonamento.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.abbonamento.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.abbonamento.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
