@using static it.lucaporfiri.appweb.core.web.ViewModels.AtletaDetailViewModel
@model IEnumerable<it.lucaporfiri.appweb.core.web.ViewModels.AbbonamentoDetailViewModel>

<div class="dashboard-container">
    <section class="main-content">
        <div class="dashboard-header" style="margin-bottom: 25px;">
            <h2>
                <a asp-action="Index" asp-controller="Home" class="btn-back" title="Torna alla dashboard">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <i class="fas fa-calendar-times"></i> Elenco Abbonamenti
            </h2>
            <div class="main-actions">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Crea Nuovo
                </a>
            </div>
        </div>
        <div class="table-content">
            <table class="compact-table">
    <thead>
		<tr>
			<th>
				Atleta
			</th>
            <th>
                Nome Abbonamento
            </th>
            <th>
                Data Inizio
            </th>
            <th>
                Data Fine
            </th>
            <th>
                Stato Abbonamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
                <strong>@($"{item.abbonamento.Atleta?.Nome} {item.abbonamento.Atleta?.Cognome}")</strong>
			</td>
            <td>
                @Html.DisplayFor(modelitem => item.abbonamento.Nome)
            </td>
            <td>
                @item.abbonamento.DataInizio.ToString("dd MMM yyyy")
            </td>
            <td>
                @item.abbonamento.DataFine.ToString("dd MMM yyyy")
            </td>

            <td>
                @if (item.statoAbbonamento == StatoAbbonamento.Scaduto)
                {
                    <span class="status status-scaduto">@item.statoAbbonamento</span>
                }
                    else if (item.statoAbbonamento == StatoAbbonamento.Valido)
                {
                    <span class="status status-ok">@item.statoAbbonamento</span>
                }
                else
                {
                    <span class="status status-notdefined">@item.statoAbbonamento</span>
                }

            </td>
            <td class="table-actions text-right">
                <a asp-action="Edit" asp-route-id="@item.abbonamento.Id">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.abbonamento.Id">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.abbonamento.Id">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
    </section>
</div>


