@using it.lucaporfiri.appweb.core.web.ViewModels
@model SchedaAllenamentoViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scheda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheda.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheda.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheda.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheda.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheda.DataInizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheda.DataInizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheda.DataFine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheda.DataFine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheda.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Model.Scheda.Cliente?.Nome @Model.Scheda.Cliente?.Cognome
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Scheda.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
