@model IEnumerable<it.lucaporfiri.appweb.core.web.Models.Scheda>

@{
    ViewData["Title"] = "Index";
}

<h1>Schede di Allenamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFine)
            </td>
            <td>
                @item.Cliente?.Nome @item.Cliente?.Cognome
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
