@using static it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel
@model IEnumerable<it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel>



<div class="dashboard-container">
    <section class="main-content">
        <div class="dashboard-header" style="margin-bottom: 25px;">
            <h2><i class="fas fa-file-excel"></i> Elenco Schede</h2>
            <div class="main-actions">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Crea Nuovo
                </a>
            </div>
        </div>
        <div class="table-content">
            <table class="compact-table">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Descrizione
                        </th>
                        <th>
                            DataInizio
                        </th>
                        <th>
                            DataFine
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Stato Scheda
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.DataInizio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.DataFine)
                            </td>
                            <td>
                                @item.Scheda.Cliente?.Nome @item.Scheda.Cliente?.Cognome
                            </td>
                            <td>
                                @if (item.Stato == StatoScheda.Scaduta)
                                {
                                    <span class="c-error">@item.Stato</span>
                                }
                                else if (item.Stato == StatoScheda.Attiva)
                                {
                                    <span class="c-success">@item.Stato</span>
                                }
                                else
                                {
                                    <span class="c-warning">@item.Stato</span>
                                }

                            </td>
                            <td class="table-actions text-right">
                                <a asp-action="Edit" asp-route-id="@item.Scheda.Id">Modifica</a> |
                                <a asp-action="Details" asp-route-id="@item.Scheda.Id">Dettagli</a> |
                                <a asp-action="Delete" asp-route-id="@item.Scheda.Id">Elimina</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
