@using static it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel
@model IEnumerable<it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel>



<div class="dashboard-container">
    <section class="main-content">
        <div class="dashboard-header" style="margin-bottom: 25px;">
            <h2>
                <a asp-action="Index" asp-controller="Home" class="btn-back" title="Torna alla dashboard">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <i class="fas fa-file-excel"></i> Elenco Schede
            </h2>
            <div class="main-actions">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Crea Nuovo
                </a>
            </div>
        </div>
        <div class="table-content">
            <table class="compact-table">
                <thead>
					<tr>
						<th>
							Cliente
						</th>
                        <th>
                            Nome Scheda
                        </th>
                        <th>
                            Descrizione
                        </th>
                        <th>
                            Data Inizio
                        </th>
                        <th>
                            Data Fine
                        </th>

                        <th>
                            Stato Scheda
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
						<tr>
							<td>
                                <strong>
                                    @item.Scheda.Cliente?.Nome @item.Scheda.Cliente?.Cognome
                                </strong>
							</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheda.Descrizione)
                            </td>
                            <td>
                                @if (item.Scheda.DataInizio.HasValue)
                                {
                                    @item.Scheda.DataInizio.Value.ToString("dd MMM yyyy")
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                            <td>
                                @item.Scheda.DataFine.ToString("dd MMM yyyy")
                            </td>

                            <td>
                                @if (item.Stato == StatoScheda.Scaduta)
                                {
                                    <span class="status status-scaduto">@item.Stato</span>
                                }
                                else if (item.Stato == StatoScheda.Attiva)
                                {
                                    <span class="status status-ok">@item.Stato</span>
                                }
                                else
                                {
                                    <span class="status status-notdefined">@item.Stato</span>
                                }

                            </td>
                            <td class="table-actions text-right">
                                <a asp-action="Edit" asp-route-id="@item.Scheda.Id">Modifica</a> |
                                <a asp-action="Details" asp-route-id="@item.Scheda.Id">Dettagli</a> |
                                <a asp-action="Delete" asp-route-id="@item.Scheda.Id">Elimina</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
