@using static it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel
@model IEnumerable<it.lucaporfiri.appweb.core.web.ViewModels.SchedaAllenamentoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Schede di Allenamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrizione
            </th>
            <th>
                DataInizio
            </th>
            <th>
                DataFine
            </th>
            <th>
                Cliente
            </th>
            <th>
                Stato Scheda
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Scheda.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scheda.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scheda.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scheda.DataFine)
            </td>
            <td>
                @item.Scheda.Cliente?.Nome @item.Scheda.Cliente?.Cognome
            </td>
            <td>
                    @if(item.Stato == StatoScheda.Scaduta)
                    {
                        <span class="c-error">@item.Stato</span>
                    }else if(item.Stato == StatoScheda.Attiva)
                    {
                        <span class="c-success">@item.Stato</span>
                    }
                    else
                    {
                        <span class="c-warning">@item.Stato</span>
                    }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Scheda.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Scheda.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Scheda.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
