@model it.lucaporfiri.appweb.core.web.Models.Eventi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataScadenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataScadenza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priorita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priorita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atleta.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
