@model it.lucaporfiri.appweb.core.web.ViewModels.AtletaDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Atleta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eta)
        </dt>
        @if (Model.Eta.HasValue)
        {
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Eta)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIscrizioneAtleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIscrizioneAtleta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abbonamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abbonamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
